.navbar-top {
  padding: 16px 32px;
  display: flex;
  .div-button-profil {
    position: relative;
    margin: 0 auto;
    &:hover {
      .button-profil {
        background-color: #282828;
      }
      .menu {
        display: block;
        opacity: 1;
      }
    }
    .button-profil {
      border: none;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0;
      border-radius: 23px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 33ms;
      cursor: pointer;
      &:hover {
        background-color: #282828;
      }
      .img-profil {
        width: 28px;
        border-radius: 100%;
      }
      .img-arrow {
        width: 15px;
        padding-right: 5px;
      }
      p {
        font-size: 14px;
        font-weight: 700;
        padding: 8px 5px;
        color: #fff;
      }
    }
    .menu {
      display: none;
      opacity: 0;
      transition: all 200ms ease-in-out;
      position: absolute;
      bottom: -48px;
      right: 50%;
      transform: translateX(50%);
      background-color: #282828;
      border-radius: 4px;
      padding: 4px;
      button {
        background-color: #282828;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 14px;
        padding: 12px;
        cursor: pointer;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.1);
        }
      }
    }
  }
}
