.container-hit {
  padding: 24px 32px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .input-search {
    background: url("../img/search-black.png") #fff no-repeat 10px 7px;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    width: 280px;
    margin-bottom: 50px;
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
  .container-artist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    .card-artist {
      cursor: pointer;
      padding: 16px;
      max-width: 148px;
      background-color: #1a1a1a;
      border-radius: 7px;
      position: relative;
      min-height: 226px;
      a {
        text-decoration: none;
      }
      img {
        width: 148px;
        height: 148px;
        margin-bottom: 16px;
        border-radius: 100%;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
      }
      p {
        font-size: 14px;
        color: #a7a7a7;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 16px;
        padding-right: 16px;
        text-transform: capitalize;
      }
      .div-play {
        position: absolute;
        opacity: 0;
        bottom: 90px;
        left: 110px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1ed760;
        box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
        transition: all 330ms ease-in-out;
        img {
          width: 20px;
          height: auto;
          margin-bottom: 0;
          transform: translateX(2px);
        }
      }
      &:hover {
        background: #282828;
        .div-play {
          opacity: 1;
          bottom: 100px;
        }
      }
    }
  }
}
